<div class="alert">
    <p>This is a DRAFT or SUBSTANTIALLY MODIFIED existing policy currently in an open review period. Please <a href='https://owasp.wufoo.com/forms/q119kwb0hp2nqz/def/field3={{ page.title | replace: " ", "%20" }}'>respond with your comments</a> and inputs regarding this page or directly submit a pull request.</p>
</div>

Please <a href='mailto:policy-review@owasp.com/?subject=Re:%20{{ page.title | replace: " ", "%20" }}'>button title</a>
         
Please <a href='mailto:policy-review@owasp.com/?subject=Re:%20{{ page.url | replace: " ", "%20" }}'>button url</a>
