
{% assign seconds = 60 | times: 60 | times: 24 | times: 21 %}
{% assign date_end = include.start-date | date: '%s' | plus: seconds | date: '%B %d %Y' %}

<section class="notice">  
  <div style="padding: 10px; padding-left: 15px; background-color: #ffd21c;">
  
    <p>Members are invited to provide feedback on this draft policy until {{ date_end | date: '%B %d, %Y'}}. The Policy Review Team will respond to comments mailed from your owasp.org email address to <a href='mailto:policy-review@owasp.com?subject=Re:%20{{ page.title | replace: " ", "%20" }}'>this address</a>.</p>
  
  </div> 
</section>






<!-- Please <a href='mailto:policy-review@owasp.com?subject=Re:%20{{ page.url | replace: " ", "%20" }}'>button url</a> -->
