
<strong>Members are invited to provide feedback on this draft policy between {{ include.start-date | date: '%B %d, %Y'}} and {{ include.start-date | plus:1814400 | date: '%B %d, %Y'}}. </strong>The Policy Review Team will respond to comments mailed from your owasp.org email address to <a href='mailto:policy-review@owasp.com?subject=Re:%20{{ page.title | replace: " ", "%20" }}'>this address</a>.
         
<!-- Please <a href='mailto:policy-review@owasp.com?subject=Re:%20{{ page.url | replace: " ", "%20" }}'>button url</a> -->
